<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{#% SITE_NAME %#} </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">



                {% if user.is_authenticated  %}
                <li class="">

                </li>
                {% else %}

                {% endif %}
            </ul>

            {% if user.is_authenticated  %}
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="halflings-icon white user"></i>{{ user }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "account_login" %}"><i class="halflings-icon white user"></i> Settings</a></li>
                        <li><a href="{% url "account_logout" %}"><i class="halflings-icon white off"></i> Logout</a></li>
                    </ul>
                </li>
             </ul>
            {% else %}
            <ul class="nav navbar-nav pull-right">
                <li class="">
                    <a href="">Features</a>
                </li>
                <li class="">
                    <a href="">Support</a>
                </li>
                <li class="">
                    <a href="">Contact</a>
                </li>

                <li >
                    <a href="{% url "account_login" %}"  class="button skeleton">
                    <i class="halflings-icon white user"></i>
                    Login
                </a>
                </li>
            </ul>
            {% endif %}

        </div><!--/.nav-collapse -->
      </div>
    </nav>
