{% extends "_layouts/base.html" %}




{% block maincontent %}


<div id="db-wrapper">
	<div class="container">
		<div class="row">



            {% block content %}
            {% endblock  %}


<!--
                <div>
                  <strong>Menu:</strong>
                  <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Sign In</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
                  </ul>
                </div>
-->


        </div>
    </div>
</div>

{% endblock %}
